



.jumbotron{
	background-color:  #1abc9c;
}

.navbar-default .navbar-brand{

	color: #8e44ad;


}


.navbar-default .navbar-nav>li>a {
	color: #e74c3c;
}

.navbar-default .navbar-nav>li>a>span{
	color: #f1c40f;
}
.red{
	color: #e74c3c;
}

.orange{
	color: #e67e22;
}

.yellow{
	color: #f1c40f;



}


.green{
	color: #2ecc71;


	
}

.blue{
	color: #3498db;
}